* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {  
    text-align: center;
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    /* width: 1368px; */
}

.container {
    width: 80%;
    margin:auto;
}

header {
    padding-top: 50px;
    font-family: 'Raleway', sans-serif;
}

/* Heading, call-to-action, header navigatio */
/* font-family: 'Raleway', sans-serif; */


/* Cores */
:root {
    /* primary (primarias) */
    --very-dark-blue: hsl(243, 87%, 12%);
    --desaturated-blue: hsl(238, 22%, 44%);

    /* accent (realce) */
    --bright-blue: hsl(224, 93%, 58%);
    --moderatecyan: hsl(170, 45%, 43%);

    /* neutral (neutras) */
    --light-grayish-blue: hsl(240, 75%, 98%);
    --light-gray: hsl(0, 0%, 75%);
}

/* nav */

.nav-links ul { 
    color: var(--very-darl-blue);
    /* display: flex;
    flex-wrap: wrap;
    padding-left: 0;
    margin-bottom: 0;
    list-style: none; */
    float: right;
}

.nav-links li {
    display: inline;
    padding: 0 20px;
    
}

a {
    text-decoration: none;
}

a:hover {
    font-weight: bold;
}

#logo {
    float: left;
    vertical-align: top;
}