* {
    margin: 0;
    padding: 0;
    
}

body {  
    text-align: center;
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    
}

.container {
    width: 80%;
    margin:auto;
    overflow: hidden;
}

header {
    padding-top: 50px;
    font-family: 'Raleway', sans-serif;
}

/* Cores */
:root {
    /* primary (primarias) */
    --very-dark-blue: hsl(243, 87%, 12%);
    --desaturated-blue: hsl(238, 22%, 44%);

    /* accent (realce) */
    --bright-blue: hsl(224, 93%, 58%);
    --moderatecyan: hsl(170, 45%, 43%);

    /* neutral (neutras) */
    --light-grayish-blue: hsl(240, 75%, 98%);
    --light-gray: hsl(0, 0%, 75%);
}

/* nav */

.nav-links ul { 
    color: var(--very-darl-blue);
    float: right;
}

.nav-links li {
    display: inline;
    padding: 0 20px;
    
}

a {
    text-decoration: none;
}

a:hover {
    font-weight: bold;
}

#logo {
    float: left;
    vertical-align: top;
}

/* Main */
#main {
    padding-top: 100px;
}

.files {
    float: left;
    width: 50%;
}

.img-files {
    width: 50%;
    float: right;
}

#img-file {
    width: 100%;
}

.files h1, p, input {
    text-align: left;
    line-height: 1.5em;
    padding-right: 15px;
}

.files h1 {
    font-family: 'Raleway', sans-serif;
    color: var(--very-dark-blue);
    padding-top: 50px;
    padding-bottom: 20px;
    font-size: 36px;
   
}

.files p {
    color: var(--very-dark-blue);
}

#email {
    border: var(--desaturated-blue) 1px solid;
    padding: 10px 30px;
    width: 230px;
    margin-top: 20px;
    margin-left: 0;
    border-radius: 2px;
    color:var(--very-dark-blue);
    
}

::placeholder {
    color:var(--light-gray);
}

#btn {
    width: 180px;
    padding: 10px 30px;
    margin-left: 10px;
    margin-right: 50px;
    text-align: center;
    border-radius: 2px;
    color:var(--light-grayish-blue);
    background-color: var(--bright-blue);
    border: var(--bright-blue) 1px solid;
    cursor: pointer;
}

#btn:hover {
    color:var(--bright-blue);
    background-color: var(--light-grayish-blue);
    border: var(--bright-blue) 1px solid;
}

#productive {
    margin-top: 100px;
    padding-top: 100px;
    background-image: url(/images/bg-curve-desktop.svg);
    background-repeat: no-repeat;
    background-size: 100%;
    background-color: #F8F8FE;

}

.comment {
    float: left;
    width: 50%;
}

